<?xml version="1.0"?>
<config>
    <modules>
        <Ideasa_PagSeguroDireto>    
            <version>1.1.2</version>
        </Ideasa_PagSeguroDireto>
    </modules>

    <global>
        <models>
            <pagsegurodireto>
                <class>Ideasa_PagSeguroDireto_Model</class>
                <resourceModel>pagsegurodireto_mysql4</resourceModel>
            </pagsegurodireto>
            <pagsegurodireto_mysql4>
                <class>Ideasa_PagSeguroDireto_Model_Mysql4</class>
                <entities>
                    <entity_payment>
                        <table>ideasa_pagsegurodireto_pagamento</table>
                    </entity_payment>
                    <entity_sonda>
                        <table>ideasa_pagsegurodireto_sonda</table>
                    </entity_sonda>
                    <entity_erro>
                        <table>ideasa_pagsegurodireto_erro</table>
                    </entity_erro>
                </entities>
            </pagsegurodireto_mysql4>
        </models>
        
        <helpers>
            <pagsegurodireto>
                <class>Ideasa_PagSeguroDireto_Helper</class>
            </pagsegurodireto>
        </helpers>

        <blocks>
            <pagsegurodireto>
                <class>Ideasa_PagSeguroDireto_Block</class>
            </pagsegurodireto>
            
            <checkout>
                <rewrite>
                    <onepage_success>Ideasa_PagSeguroDireto_Block_Checkout_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        
        <sales>
            <quote>
                <totals>
                    <discount-pagsegurodireto>
                        <class>pagsegurodireto/sales_quote_address_total_discount</class>
                        <after>grand_total</after>
                    </discount-pagsegurodireto>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <discount-pagsegurodireto>
                        <class>pagsegurodireto/sales_order_invoice_total_discount</class>
                        <after>grand_total</after>
                    </discount-pagsegurodireto>
                </totals>
            </order_invoice>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <pagsegurodireto_discount_amount>
                    <to_order>*</to_order>
                </pagsegurodireto_discount_amount>
                <pagsegurodireto_base_discount_amount>
                    <to_order>*</to_order>
                </pagsegurodireto_base_discount_amount>
            </sales_convert_quote_address>
        </fieldsets>
        
        <resources>
            <pagsegurodireto_setup>
                <setup>
                    <module>Ideasa_PagSeguroDireto</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagsegurodireto_setup>
        </resources>
    </global>

    <frontend>
        <secure_url>
            <pagsegurodireto>/pagsegurodireto</pagsegurodireto>
        </secure_url>
        <routers>
            <pagsegurodireto>
                <use>standard</use>
                <args>
                    <module>Ideasa_PagSeguroDireto</module>
                    <frontName>pagsegurodireto</frontName>
                    <modules>
                        <Ideasa_PagSeguroDireto before="Mage_Checkout">Ideasa_PagSeguroDireto</Ideasa_PagSeguroDireto>
                    </modules>
                </args>
            </pagsegurodireto>
        </routers>
        <layout>
            <updates>
                <pagsegurodireto>
                    <file>ideasa/pagsegurodireto.xml</file>
                </pagsegurodireto>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ideasa_PagSeguroDireto>
                    <files>
                        <default>Ideasa_PagSeguroDireto.csv</default>
                    </files>
                </Ideasa_PagSeguroDireto>
            </modules>
        </translate>
        <events>
            <!--
            <controller_front_init_before>
                <observers>
                    <pagsegurodireto>
                        <type>singleton</type>
                        <class>pagsegurodireto/observer</class>
                        <method>loadLibrary</method>
                    </pagsegurodireto>
                </observers>
            </controller_front_init_before>
            -->
            <pagsegurodireto_process_success>
                <observers>
                    <pagsegurodireto_process_success>
                        <class>pagsegurodireto/observer</class>
                        <method>processSuccess</method>
                    </pagsegurodireto_process_success>
                </observers>
            </pagsegurodireto_process_success>
            <pagsegurodireto_process_cancel>
                <observers>
                    <pagsegurodireto_process_cancel>
                        <class>pagsegurodireto/observer</class>
                        <method>processCancel</method>
                    </pagsegurodireto_process_cancel>
                </observers>
            </pagsegurodireto_process_cancel>
            <pagsegurodireto_send_new_order_email>
                <observers>
                    <pagsegurodireto_send_new_order_email>
                        <class>pagsegurodireto/observer</class>
                        <method>sendNewOrderEmail</method>
                    </pagsegurodireto_send_new_order_email>
                </observers>
            </pagsegurodireto_send_new_order_email>
        </events>
    </frontend>
    
    <admin>
        <routers>
            <pagsegurodireto>
                <use>admin</use>
                <args>
                    <module>Ideasa_PagSeguroDireto</module>
                    <frontName>pagsegurodireto</frontName>
                </args>
            </pagsegurodireto>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <pagsegurodireto module='pagsegurodireto'>
                    <file>ideasa/pagsegurodireto.xml</file>
                </pagsegurodireto>
            </updates>
        </layout>
    </adminhtml>
    
    <default>
        <sales>
            <totals_sort>
                <discount-pagsegurodireto>26</discount-pagsegurodireto>
            </totals_sort>
        </sales>
        <adminhtml>
            <sales>
                <totals_sort>
                    <discount-pagsegurodireto>26</discount-pagsegurodireto>
                </totals_sort>
            </sales>    
        </adminhtml>
        <payment>
            <pagsegurodireto>
                <active>1</active>
                <model>pagsegurodireto/PagSeguroDireto</model>
                <title>Pagamento Online com PagSeguro</title>
                <allowspecific>0</allowspecific>
            </pagsegurodireto>
        </payment>
        <pagsegurodireto>
            <geral>
                <invoice>1</invoice>
                <cancel_order>1</cancel_order>
                <custom_css>0</custom_css>
            </geral>
            <cartao>
                <active>1</active>
                <valor_minimo>0,01</valor_minimo>
                <codigos>101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119</codigos>
            </cartao>
            <debito>
                <active>1</active>
                <valor_minimo>0,01</valor_minimo>
                <codigos>301,302,304,306,307</codigos>
            </debito>
            <boleto>
                <active>1</active>
                <valor_minimo>0,01</valor_minimo>
                <codigos>202</codigos>
            </boleto>
            <environment>
                
            </environment>
        </pagsegurodireto>
    </default>
    
    <crontab>
        <jobs>
            <ideasa_pagsegurodireto_status_payment>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pagsegurodireto/observer::paymentSonda</model>
                </run>
            </ideasa_pagsegurodireto_status_payment>
        </jobs>
    </crontab>
</config>